@import url(nullstyle.css)

body
  background: #E5E5E5

.center
  padding: 0 calc(50% - 770px)

.wrapper
  min-width: 320px
  max-width: 1920px
  margin: 0 auto

.header
  background: url(../images/header_banner_back.svg) top center no-repeat

  .header-box
    position: relative
    min-height: 140px
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 130px
    background: #E6E6E5

    .logo-link1
      padding: 12px 0
      align-self: flex-end

    .logo-link2
      margin-top: 15px
      img
        max-width: 100%

    .menu
      display: flex
      justify-content: space-between
      align-items: center

      &__link
        padding: 1.29rem
        font-size: 24px
        line-height: 28px
        font-weight: 500
        color: #221E1F

    .burger-menu
      position: absolute
      background-color: #a09d9d
      width: 100%
      height: 100%
      left: 0
      top: 0
      padding: 26px
      z-index: -1
      transition: all 0.3s ease-in-out 0s

      .menu__link
        font-size: 14px

  .header__banner
    display: flex
    justify-content: space-between
    padding: 47px 210px 0 277px

    .banner-left, .banner-right
      width: 50%

    .banner-right
      display: flex
      flex-direction: column
      align-items: center

    .banner-heading
      font-weight: 900
      font-size: 80px
      line-height: 80px
      text-transform: uppercase
      color: #FFFFFF
      margin: 0 -130px 23px 0

    .banner-text1, .banner-text2
      font-size: 28px
      line-height: 36px
      color: #FFFFFF
      opacity: 0.6

      span
        font-weight: 700

    .banner-text1
      max-width: 591px

    .banner-text2
      max-width: 475px
      text-align: right
      padding: 0 18px
      margin-bottom: 24px

    .banner-term
      line-height: 45px
      color: #FFFFFF
      text-align: right
      width: 100%
      margin-right: -119px

  .heading
    min-height: 90px
    display: flex
    align-items: center
    justify-content: center
    font-size: 30px
    line-height: 80px
    text-transform: uppercase
    color: #4B3D2A
    background: #E6E6E5
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%)
    p
      text-align: center
      padding: 0 20px
    span
      font-weight: 700

.buy-get
  .buy-get-content
    width: 100%
    display: flex
    justify-content: center
    align-items: flex-start
    background: #FFFFFF
    margin-top: 5px
    flex-wrap: wrap

    .buy-get-link
      font-weight: 500
      font-size: 36px
      line-height: 100px
      text-align: center
      text-transform: uppercase
      color: #FFFFFF
      background: #C01627
      border-radius: 0 0 8px 8px
      padding: 0 251px
      margin: 0 30px

    .buy, .get
      display: flex
      flex-direction: column
      align-items: center

    .buy
      img
        margin: 23px 0
        width: 100%

      &__text1
        font-size: 32px
        line-height: 40px
        text-align: center
        color: #221E1F
        margin-top: 43px
        max-width: 32rem

        span
          font-weight: 700

      &__text2
        font-size: 24px
        line-height: 32px
        text-align: center
        color: #221E1F
        margin-top: 19px
        max-width: 30rem

        span
          font-weight: 700

      &__link-box
        display: flex
        justify-content: center

        .btn-link
          font-size: 20px
          line-height: 55px
          text-align: center
          text-transform: uppercase
          color: #FFFFFF
          background: #DD4E12
          border-radius: 8px
          margin: 57px 9px
          padding: 0 46px

    .get
      .lemur-link
        color: #DD4E12
      img
        margin: 74px 0

      .conditions
        display: block
        margin: 70px 0
        font-weight: 500
        font-size: 20px
        line-height: 23px
        text-align: center
        text-decoration-line: underline
        text-transform: uppercase
        color: #221E1F


.buy-get
  .issue
    background: #221E1F
    p
      font-size: 18px
      line-height: 94px
      text-align: center
      color: #FFFFFF

.addresses
  background-color: #ffffff
  padding: 92px 0 81px 0

  &__heading
    font-weight: 500
    font-size: 60px
    line-height: 64px
    text-align: center
    text-transform: uppercase
    color: #221E1F

  .map-box
    margin: 91px 0 50px 0
    position: relative

    #map
      width: 100%
      height: 500px

    .btn-box
      position: absolute
      bottom: 0
      left: 0
      display: flex
      justify-content: center
      flex-wrap: wrap
      width: 100%

      .change-region-btn
        background: #DD4E12
        border-radius: 8px 8px 0 0
        width: 300px
        font-weight: 500
        font-size: 20px
        line-height: 55px
        text-align: center
        text-transform: uppercase
        color: #FFFFFF
        margin: 0 10px

  p, &__list
    font-weight: 500
    font-size: 24px
    line-height: 28px
    text-align: center
    color: #494948

  &__list
    display: block
    text-decoration: underline
    cursor: pointer

    //ToDo
  //Плавное открытие и закрытие
  //details
  //  min-height: 1em
  //  max-height: 200em
  //  transition: height .15s linear, height .5s linear
  //  -webkit-transition: height .15s linear, height .15s linear
  //  will-change: height
  //  overflow: hidden
  //
  //details[open] summary
  //  animation: sweep .5s ease-in-out
  //  -webkit-animation: sweep .5s ease-in-out

  &__list::-webkit-details-marker
    display: none

  .addresses__content
    li
      list-style-type: inherit

  .list-heading
    font-size: 20px
    font-weight: 500
    text-align: left
    margin: 20px

  .list-box
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    ul
      flex-grow: 1
      -webkit-flex-grow: 1
      padding: 0 30px
      max-width: 340px
      li
        margin-bottom: 10px

.footer
  &__container
    min-height: 160px
    display: flex
    align-items: center
    justify-content: space-between
    background: #221E1F
    padding: 0 calc(50% - 770px)

  &__logo
    display: block
    position: relative
    left: 50%
    transform: translateX(-50%)
    padding: 20px

  &__right
    display: flex
    align-items: center

    a
      margin-left: 14px
      display: flex
      justify-content: center
      align-items: center
      width: 40px
      height: 40px
      background-color: #4F8478
      border-radius: 50%
      transition: background 0.2s

    a:hover
      background-color: #7EA69A

@media(max-width: 1600px)
  .header
    .header__banner
      padding: 47px 130px 0 130px
      .banner-heading
        font-size: 60px
        line-height: 60px
      .product-img
        width: 100%
      .banner-term
        width: max-content

@media (max-width: 1300px)
  .header
    .header__banner
      padding: 47px 60px 0 60px
      .banner-heading
        font-size: 40px
        line-height: 40px
      .product-img
        width: 100%
      .banner-term
        width: max-content
    .heading
      font-size: 22px

@media (max-width: 1200px)
  .header
    .header-box
      .logo-link1
        display: none

@media (max-width: 1024px)
  .header
    .heading
      font-size: 16px

@media (max-width: 1024px)
  .header
    background: #000000
    .header-box
      padding: 15px 75px
    .header__banner
      padding: 2rem
      flex-direction: column
      align-items: center
      .banner-left, .banner-right
        width: 100%
        .banner-heading, .banner-text1, .banner-text2, .banner-term
          margin: 0 0 15px 0
          text-align: center
        .banner-text1
          max-width: 100%
        .banner-term
          margin: 0

@media (max-width: 768px)
  .header
    .header-box
      padding: 15px
      .menu
        display: none

      .logo-link2
        flex: 0 0 135px

      .burger
        display: block
        position: relative
        width: 35px
        span
          position: absolute
          background-color: #000
          width: 100%
          height: 2px
          left: 0
          top: 8px
          margin: 3px
          transition: all 0.3s ease 0s

      .burger:before, .burger:after
        content: ''
        background-color: #000
        position: absolute
        width: 100%
        height: 2px
        left: 0
        transition: all 0.3s ease 0s

      .burger:before
        top: 0
        margin: 3px

      .burger:after
        bottom: 0
        margin: 3px

      .active:before
        transform: rotate(45deg)

      .active:after
        transform: rotate(-45deg)
        bottom: -8px

      .active
        span
          transform: scale(0)

      .burger-menu.active
        top: 140px
        z-index: 1
        opacity: 0.95

  .header
    .header__banner
      .banner-right
        .coupon-img
          width: 80%

    .heading
      flex-direction: column
      line-height: 30px
      padding-top: 10px

    .banner-term
      font-size: 0.7rem

@media (max-width: 1440px)
  .buy-get
    .buy-get-content
      .get-link
        border-radius: 8px

@media (min-width: 320px) and (max-width: 768px)
  .buy-get
    .issue
      p
        font-size: 14px
        line-height: 50px

    .buy-get-content
      .buy, .get
        padding: 0 10px
        width: 100%
      .get
        margin-top: 30px
        img
          width: 100%

      .buy-get-link
        padding: 0 30px
        line-height: 80px
        display: block
        width: 100%

      .buy__link-box
        flex-direction: column
        .btn-link
          margin: 20px 9px

  .addresses__heading
    font-size: 2.3rem


@media (max-width: 1600px)
  .center, .footer__container
    padding: 0 calc(50% - 620px)

@media (max-width: 1300px)
  .center, .footer__container
    padding: 0 calc(50% - 550px)

@media (max-width: 1024px)
  .center, .footer__container
    padding: 0 calc(50% - 430px)

@media (max-width: 768px)
  .center, .footer__container
    padding: 0 calc(50% - 340px)

@media (max-width: 425px)
  .footer__container
    flex-direction: column
    justify-content: flex-start
    .footer__logo
      left: 0
      transform: translateX(0)

    .footer__right
      justify-content: center











