@import url(../fonts/stylesheet.css);
@import url(nullstyle.css);
.container {
  max-width: 1920px;
  min-width: 320px;
  position: relative;
  margin: 0 auto;
  background-image: url(../img/heart_mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
}

.container-winners {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.center {
  padding: 0 18px;
}

.header {
  min-height: 82px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
}
.header .logo {
  display: block;
}
.header .menu {
  text-align: right;
  padding-right: 9px;
}
.header .menu__link {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.header .winners-link {
  color: #D70E29;
}

.winners-list__heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #D70E29;
  margin-top: 48px;
  text-align: center;
}

.winners-list__text {
  margin-top: 8px;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  padding: 0 30px 20px 30px;
}

.winners-list-box {
  overflow: hidden;
  height: 100vh;
  overflow-y: scroll;
  margin: 8px -8px 8px -8px;
  border: 1px solid #E5E5E5;
  background: #FFFFFF;
  scrollbar-color: #5E5E5D #E5E5E5;
  scrollbar-width: thin;
}

.winners-list-box::-webkit-scrollbar {
  width: 10px;
  background-color: #E5E5E5;
}

.winners-list-box::-webkit-scrollbar-thumb {
  background-color: #5E5E5D;
}

.winners-list li {
  display: flex;
  align-items: center;
  min-height: 73px;
}

.winners-list p {
  display: flex;
  align-items: center;
  height: 73px;
  width: 100%;
  border-top: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  padding: 0 14px;
  font-size: 14px;
  color: #5E5E5D;
}
.winners-list p img {
  margin-right: 10px;
}

.list-heading {
  justify-content: center;
  font-size: 20px;
  line-height: 24px;
  background-color: #D70E29;
  color: #FFFFFF;
  padding: 0 10px;
  text-align: center;
}

.top {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 23px;
}
.top__title {
  width: 80%;
  min-height: 56px;
  font-weight: bold;
  font-size: 26px;
  line-height: 28px;
  text-align: left;
  color: #000000;
}
.top__title span {
  color: #D70E29;
}
.top__text {
  margin: 10px 5px 0 0;
  width: 53%;
  min-height: 54px;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-align: left;
}
.top__text span {
  border-bottom: 1px solid #D70E29;
  display: inline-block;
  line-height: 11px;
}
.top__left {
  position: relative;
  padding: 23px 56px 0 57px;
}
.top__left img {
  width: 100%;
}

.register {
  background-color: #D70E29;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 46px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 4px;
  margin: 28px 22px 0 22px;
  font-weight: bold;
}

.bottom {
  display: flex;
  flex-direction: column;
}
.bottom__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;
  color: #000000;
  margin-top: 48px;
}
.bottom__conditions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 13px;
}
.bottom__conditions p {
  width: 94%;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  margin-left: 17px;
}
.bottom__right {
  margin: 39px 0 35px 0;
}
.bottom__right img {
  width: 100%;
}

.pop-up-center {
  margin-left: calc(50% - 500px);
  margin-right: calc(50% - 500px);
}

.pop-up {
  display: none;
  padding: 69px 76px;
}
.pop-up .pop-up-title {
  font-weight: bold;
  font-size: 64px;
  line-height: 24px;
  color: #D70E29;
}
.pop-up .pop-up-text {
  font-size: 30px;
  line-height: 24px;
  color: #000000;
  padding: 20px 0;
}
.pop-up .pop-up-box {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 50px;
}
.pop-up .pop-up-box img {
  margin-right: -19px;
}
.pop-up .pop-up-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 82px;
}
.pop-up .pop-up-form input {
  margin-bottom: 28px;
  height: 25px;
  font-size: 18px;
  border-bottom: 1px solid #5E5E5D;
}
.pop-up .pop-up-form input:placeholder-shown {
  font-size: 18px;
  line-height: 24px;
  color: #5E5E5D;
}
.pop-up .pop-up-form summary {
  display: block;
  border-bottom: 1px solid #5E5E5D;
  height: 25px;
  font-size: 18px;
  color: #5E5E5D;
}
.pop-up .pop-up-form summary::marker {
  display: none;
}
.pop-up .pop-up-form .option {
  display: block;
  font-size: 18px;
}
.pop-up .pop-up-form .check__input {
  -webkit-appearance: none;
}
.pop-up .pop-up-form .consent-box {
  position: relative;
}
.pop-up .pop-up-form .check-consent {
  padding-left: 3em;
}
.pop-up .pop-up-form .check-consent__input {
  -webkit-appearance: none;
}
.pop-up .pop-up-form .checkbox {
  left: 0;
  position: absolute;
  top: 30px;
  width: 35px;
  height: 35px;
  background-image: url(../img/checkbox.svg);
}
.pop-up .pop-up-form .check-consent__input:checked + .checkbox {
  background-image: url(../img/checkbox_checked2.svg);
  background-position: center;
  background-size: 144%;
}
.pop-up .pop-up-form .btn-register {
  width: 306px;
  height: 48px;
  background-color: #D70E29;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 6px;
  margin-top: 35px;
  font-weight: bold;
}

footer {
  min-height: 50px;
  background: #5E5E5D;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .agreement {
  font-size: 14px;
  color: #FFFFFF;
  display: block;
  padding: 18px;
}

@media (min-width: 1024px) {
  .center {
    padding: 0 calc(50% - 45.21%);
  }

  .container {
    background-size: 1027px;
    background-position: top right -253px;
  }

  .container-winners {
    background: url(../img/balloons_back1024.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
  }

  .header {
    padding-top: 60px;
  }
  .header .logo img {
    height: 168px;
  }
  .header .menu {
    display: flex;
    align-items: center;
    height: 50px;
    padding-right: 0;
  }
  .header .menu__link {
    font-size: 24px;
    line-height: 24px;
    padding: 25px;
    display: block;
  }

  .winners-list__heading {
    font-size: 64px;
    line-height: 96px;
    margin-top: 28px;
  }

  .winners-list__text {
    font-size: 30px;
    line-height: 30px;
    padding: 0 175px;
  }

  .winners-list-box {
    width: 930px;
    height: 432px;
    margin: 32px auto 435px auto;
  }

  .winners-list p {
    font-size: 24px;
    line-height: 24px;
  }

  .list-heading {
    font-size: 30px;
    line-height: 30px;
  }

  .top {
    flex-direction: inherit;
    justify-content: space-between;
    padding-top: 55px;
    height: 100%;
  }
  .top__left {
    padding: 0;
  }
  .top__left img {
    margin-top: 25px;
    width: 408px;
    height: 463px;
    position: absolute;
  }
  .top__right {
    width: 63%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 7px;
  }
  .top__title {
    width: 100%;
    font-size: 72px;
    line-height: 72px;
    text-align: center;
    margin-bottom: 43px;
  }
  .top__text {
    margin: 10px 0 0 0;
    width: 92%;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
  }
  .top__text span {
    border-bottom: 2px solid #D70E29;
    line-height: 27px;
  }
  .top .register {
    margin-top: 67px;
    line-height: 76px;
    font-size: 30px;
    width: 77%;
  }

  .bottom {
    margin-top: 71px;
  }
  .bottom__title {
    margin: 82px 0 54px 0;
    font-size: 48px;
  }
  .bottom__conditions {
    width: 50%;
    margin-bottom: 37px;
  }
  .bottom__conditions p {
    font-size: 24px;
    line-height: 24px;
    padding: 0 20px;
  }
  .bottom .bottom-register {
    font-size: 18px;
    line-height: 48px;
    margin: 56px 619px 84px 0;
  }
  .bottom__right {
    margin: 0 0 80px 0;
  }

  footer {
    min-height: 100px;
  }
  footer .agreement {
    font-size: 24px;
    padding: 30px;
  }
}
@media (min-width: 1920px) {
  .center {
    padding: 0 170px;
  }

  .container {
    background-image: url(../img/heart1.svg);
    background-position: top right;
    background-size: inherit;
  }

  .container-winners {
    background: url(../img/balloons_back1920.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: inherit;
  }

  .header .logo img {
    height: 196px;
  }
  .header .menu {
    display: flex;
    padding-right: 200px;
  }
  .header .menu__link {
    font-size: 24px;
    line-height: 24px;
    padding-left: 50px;
  }

  .winners-list__text {
    padding: 0 525px;
  }

  .winners-list-box {
    width: 930px;
    height: 432px;
    margin: 32px auto 79px auto;
  }

  .top {
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
    height: 100%;
  }
  .top__left {
    padding: 0;
  }
  .top__left img {
    margin-top: 0;
    width: 670px;
    height: 760px;
    position: inherit;
  }
  .top__right {
    width: 50%;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__title {
    width: 95%;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 14px;
  }
  .top__text {
    width: 91%;
    font-size: 48px;
    line-height: 48px;
    margin: 66px 0 0 0;
  }
  .top__text span {
    border-bottom: 2px solid #D70E29;
    line-height: 37px;
  }

  .register {
    margin: 88px 0;
    width: 63.4%;
  }

  .bottom {
    margin: 168px 0 171px 0;
    flex-direction: row;
  }
  .bottom__title {
    margin: 245px 0 54px 0;
  }
  .bottom__conditions {
    width: 58%;
  }
  .bottom__right {
    margin: 0;
  }
  .bottom__right img {
    position: absolute;
    width: 1122px;
    right: 104px;
  }
  .bottom .bottom-register {
    width: 35.8%;
    line-height: 44px;
  }
}

/*# sourceMappingURL=style.css.map */
