* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
  }

  a {
    text-decoration: none;
  }

  input:focus, button {
      outline: none;
  }
  
  .container {
    max-width: 1920px;
    margin: 0 auto;
  }
  
  .center {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
  }

  .header-content {
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-full  {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
  }

  .logo-full span {
    color: #EE3F58;
  }

  .header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .registry {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-right: 46px;
  }
  
  .user-account {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    height: 100%;
    color: #0065B1;
  }

  .user-avatar {
      padding-right: 11px;
  }

  .header-main {
    height: 523px;
    background: linear-gradient(101.21deg, #0477CE 0.33%, #149AFF 98.95%);
  }

  .header-main__title {
    width: 770px;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 40px;
  }

  .search-title {
    width: 370px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding-bottom: 80px;
  }

  .header-main__search {
    width: 770px;
    height: 50px;
    border: 1px solid #41A6F2;
    border-radius: 5px;
    background-color: inherit;
  }

  .header-main__search::placeholder { 
    font-size: 14px;
    line-height: 17px;
    padding-left: 20px;
    color: #94CEFA;
  }

  .btn-search {
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #0065B1;
    margin: 0 30px 0 30px;
    padding: 17px 65px 18px 58px;
    border: none;
  }

  .extended-search-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF; 
  }

  .extended-search-link:hover {
    border-bottom: 2px solid #FFFFFF;
  }

  .example-for-search {
    margin-top: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #F8FAFC;
  }

  .services {
    display: flex;
  }

  .services-block {
    padding: 25px 30px 25px 30px;
    background: #FFFFFF;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    margin: 70px 0 140px 30px;
  }

  .services-block:first-child {
    margin-left: 0;
    width: 100%;
  }

  .services-block-picture {
    display: flex;
    width: 60px;
    height: 61px;
    align-items: center;
    justify-content: center;
    border: 1px solid #EE3F58;
    border-radius: 50%;
  }

  .services-block-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 15px 0 15px 0;
  }

  .services-block-desc {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
  }

.services-block-tutorial-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.services-block-tutorial-link span:hover {
    color: #0065B1;
}

.price-list {
    background: #F8FAFC;
    padding-top: 70px;
    padding-bottom: 51px;
}

.price-list-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.price-list-content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.price-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 685px;
    background: #FFFFFF;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    margin-bottom: 9px;
}

.price-list-item:last-child {
    margin: 0;
}

.price-list-item-left,
.price-list-item-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.price {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #EE3F58;
    padding: 16px 30px 16px 30px;
}

.price-title, .condition {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.price-title {
    padding-right: 37px;
}

.condition {
    padding-left: 72px;
}

.quantity {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding: 16px 30px 16px 30px;
}

.price-list__right-block {
    width: 445px;
    background: #FFFFFF;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 50px 67px 55px 67px;
}

.log-in-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.log-in-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.log-in-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding: 20px 0 30px 0;
}

.user-name, .pass {
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
}

.pass {
    margin: 15px 0 25px 0;
}

.btn-log-in {
    width: 100%;
    height: 50px;
    background: #0065B1;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sign-in {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #0065B1;
    align-self: center;
    margin-top: 40px;
}

.sample-title {
    margin-top: 120px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.sample-box {
    display: flex;
    justify-content: left;
    margin-top: 30px;
}

.sample-link {
    margin-right: 30px;
    position: relative;
}

.sample-link svg {
    position: absolute;
    left: 70px;
    top: 108px;
    visibility: hidden;

}

.sample-link:hover svg {
    visibility: visible;
    color: #0477CE;
}

.sample-link:hover img {
    background-color: #0065B1;
    filter: brightness(60%);
}

.breadcrump {
    display: flex;
    justify-content: left;
    margin-top: 15px; 
}

.bc-link {
    padding-right: 146px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #0065B1;
}

.how-it-works-title {
    margin: 140px 0 40px 0;
}

.how-it-works-content {
    display: flex;
    justify-content: space-between;
}

.how-it-works-block {
    width: 370px;
    padding: 25px 30px 25px 30px;
    background: #FFFFFF;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
}

.payment-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 140px 0 0 0;
}

.payment-icons {
    margin: 70px 0 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment-icons:nth-child(2) {
    justify-content: space-around;
}

footer {
    min-height: 55px;
    background-color: #0065B1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer div {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.copyright-hidden {
    visibility: hidden;
}













